<form action="/searches/1" method="get">
  <label>Search Twitter</label>
  <input type="text" name="q"/>

  <label>Results Per Page</label>
  <input type="rpp" name="rpp"/>
  <input type="submit" name="submit" value="Search"/>
 </form>
