// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {margin: 0.25in; background-color: #E0E0E0;}

h1 {
  font-size: 25px;
  color: #000066;
}

li {
  font-size: 15px;
  color: #FF0066;
}


